<div>
  <md-toolbar color="primary">
    <span><md-icon (click)="sidenav.open()">reorder</md-icon></span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-sidenav-container>
    <md-sidenav #sidenav>
      <md-nav-list>
        <md-list-item>
          <md-icon>home</md-icon> Home </md-list-item>
        <md-list-item><md-icon>Account box</md-icon> My Account </md-list-item>
      </md-nav-list>
    </md-sidenav>

    <div>

      <md-menu x-position="before" #menu="mdMenu">
        <button md-menu-item>Option 1</button>
        <button [routerLink]="['/login']" md-menu-item>Log Out</button>
      </md-menu>

      <router-outlet></router-outlet>
    </div>

  </md-sidenav-container>
</div>