		<div class="container-header">
			<div class="title">
				Todo List
			</div>
		</div>
		<div class="todo-list">

			<div *ngFor="let todo of todos" class="todo-item">
				<div class="number">
					{{todo.id}}
				</div>
				<div [ngClass]="{'todo-completed': todo.completed}" class="content">
					{{todo.name}}
				</div>
				<div class="checkbx">
					<label class="check">
				  	<input type="checkbox" [checked]="todo.completed"/>
				  	<div class="box"></div>
					</label>
				</div>
			</div>

		</div>

		<div class="container-footer">
			<div class="footer-header">
				Add New
			</div>
			<div class="footer-content">
			<div class="newtodo txtbx">
				<input type="text" class="txtbx" [(ngModel)]="newTodo.name">
				<button (click)="addTodo()" class="addbtn">Add</button>
			</div>

			</div>
		</div>